@model JobBoard.Models.JobBoardVM

@{
    ViewBag.Title = "WELCOME TO JOB-BOARD WEBSITE";
}

<h1 class="alert-success">Jobs related to Specific company</h1>
    

<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            @foreach (var company in Model.Companies)
            {
                <h2>The name of the Company is : </h2>@company.Name <br />

                foreach (var job in company.Jobs)
                { 
                    <a class="btn btn-success" href="/Home/Update/@job.Id"> Update </a> 
            <a class=" btn btn-danger" href="/Home/Delete/@job.Id"> Delete</a>
                    @job.Description
                    @job.Salary
                    @job.Title <br />
                

                }
            }
        </div>
    </div>

    <div class="col-md-4">
        <div class="jumbotron">
            <div>
                <form action="/Home/Index" method="post">
                    Company Id :<input type="text" name="CompanyId" placeholder="Enter your Job Id, please" /><br>

                    Title:<input type="text" name="Title" placeholder="Title of the Job" /> <br>
                    Description  :<input type="text" name="Description" placeholder="Description of the job , please" /><br>
                    Salary : <input type="date" name="Salary" placeholder="Enter the salary " /><br>

                    <button class="btn btn-info" type="submit"> Submits </button>
                    <button class="btn btn-danger" type="reset"> Reset</button>
                </form>

            </div>
        </div>
   </div>
</div>