@model JobBoard.DataModels.Job




<div class="jumbotron">
    <div>
        <form action="/Home/Index" method="post">
            Job Id :<input type="text" name="Id" placeholder="Enter your Job Id, please" /><br>
            Title:<input type="text" name="Title" placeholder="Title of the Job" /> <br>
            Description  :<input type="text" name="Description" placeholder="Description of the job , please" /><br>
            Salary : <input type="date" name="Salary" placeholder="Enter the salary " /><br>

            <button class="btn btn-info" type="submit"> Submits </button>
            <button class="btn btn-danger" type="reset"> Reset</button>
        </form>
        </div>
            </div>
